*
!src
src/lib/directories.ts
!ssl
!package*.json
!path.js
!LICENSE
!README.md
!tsconfig.json
!sphynx-rewrite.yml
!sphynx-rewrite.yaml
!sphynx-rewrite.json
!sphynx-hardcode.yml
!sphynx-hardcode.yaml
!sphynx-hardcode.json