dist
node_modules
.env
src/lib/directories.ts
sphynx-rewrite.yml
sphynx-rewrite.yaml
sphynx-rewrite.json
sphynx-hardcode.yml
sphynx-hardcode.yaml
sphynx-hardcode.json
cors-rules.yml
cors-rules.yaml
cors-rules.json